// csn start scss
// global scss
// Guide - CSN - 2021 - SCSS / SASS
// 1. Base
// 1.1 Components
// 2 Home
// 3 Institucional
// 3.1 Metas
// 3.2 MVV
// 3 Institucional
// 3 Institucional
// 3 Institucional









body {
    background-color: \;
}
.section_flow {
    padding: 3rem 0;
}
.section_footer {
    background-color: lightgray;
    padding: 3rem 0;
}
// teste
.teste {
    height: 20rem;
}
// navbar sticky top
.navbar {
    position: fixed;
    width:100%;
    transition: background-color 1s;
}
.rect{
width:100%;
height:10rem;
}
#green{
background-color:   grey;
}
#blue{
background-color:grey;
}
// end

// footer
.bottom_bar_footer {
    color: #fff;
    background-color: #005295;
    text-align: center;
    padding: 1rem 0 0rem 0;
}