// light modal
@mixin light_modal {

    font-size: 1rem;
    color: $first;
    background: $sixth;
    border-radius: $border-radius-default;
    padding: 3rem 2.5rem 2.2rem 2.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 99999;
}

@mixin btn_blue {
    background-color: $first;
    color: $sixth;
    text-align: center;
    border: solid 3px $first;
    padding: 15px 30px !important;
    letter-spacing: 0px !important;
    line-height: 1 !important;
    border-radius: 60px;
    cursor: pointer;
    font-weight: 700;
    align-items: center;
    justify-content: center;

    &:hover {
        color: $sixth !important;
        background-color: $second;
        border-color: $second;
        transition: .3s;
    }
}
@mixin btn_blue_off {
    background-color: transparent;
    color: $third;
    text-align: center;
    border: solid 3px $third;
    padding: 15px 30px !important;
    letter-spacing: 0px !important;
    line-height: .8 !important;
    border-radius: 60px;
    cursor: pointer;
    font-weight: 700;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &:hover {
        color: $sixth !important;
        background-color: $second;
        border-color: $second;
        transition: .3s;
    }
}

@mixin btn_white {
    background-color: $sixth;
    color: $first;
    text-align: center;
    padding: 15px 30px !important;
    letter-spacing: 0px !important;
    line-height: 1 !important;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &:hover {
        color: $sixth !important;
        background-color: $second;
        transition: .3s;
    }
}

@mixin btn_white_off {
    background-color: transparent;
    color: $sixth;
    text-align: center;
    border: solid 3px $sixth;
    padding: 15px 30px !important;
    letter-spacing: 0px !important;
    line-height: 1 !important;
    border-radius: 60px;
    cursor: pointer;
    font-weight: 700;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &:hover {
        color: $sixth !important;
        background-color: $second;
        border-color: $second;
        transition: .3s;
    }
}
@mixin btn_white_off_2 {
    background-color: transparent;
    height: 2.7rem;
    color: $sixth;
    text-align: center;
    border: solid 3px $sixth;
    padding: 12px 20px !important;
    letter-spacing: 0px !important;
    line-height: 1 !important;
    border-radius: 60px;
    cursor: pointer;
    font-weight: 700;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &:hover {
        color: $sixth !important;
        background-color: $second;
        border-color: $second;
        transition: .3s;
    }
}
@mixin btn_white_off_3 {
    background-color: transparent;
    height: 2.7rem;
    color: $sixth;
    text-align: center;
    border: solid 3px $sixth !important;
    padding: 12px 20px !important;
    letter-spacing: 0px !important;
    line-height: 1 !important;
    border-radius: 60px;
    cursor: pointer;
    font-weight: 700;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &:hover {
        color: $second !important;
        background-color: $sixth;
        border-color: $second;
        transition: .3s;
        fill: $second;
    }
}

//////////////////////////

//link default
@mixin  link__default   {
    color:  $second;
    font-weight: 600;
}

//h1 BG light
@mixin h1__light {
    color: $third;
    font-size: 3.75rem;
    font-weight: 700;
}

//h1 white
@mixin h1__dart {
    color: $third;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}
@media (max-width: 767.98px) {
    @mixin h1__dart {
        font-size: 2rem !important;
    }
}

//h3 cyan
@mixin h3__light {
    color: $first;
    font-size: 1.5rem;
    font-weight: 700;
}
//h3 white
@mixin h3__dark {
    color: $third;
    font-size: 1.5rem;
    font-weight: 700;
}
@mixin form__light {
    color: $first;
    font-size: 1.4rem;
    height: 4rem;
    border: .1rem solid $first;
    border-radius: 0rem;

    ::placeholder {
        color: $first;
        opacity: 1; /* Firefox */
    }

    :input-placeholder { /* Internet Explorer 10-11 */
        color: $first;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $first;
    }
}

@mixin form__dark {
    color: $third;
    font-size: 1.3rem;
    padding: 1.9rem 1rem 1.9rem 1rem;
    border: .1rem solid $third;
    border-radius: 0rem;
    background: rgba(0, 0, 0, 0);
}
 //font size
@mixin font-size($sizeValue: 16 ) {
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 20 ) {
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
}

@mixin rhythm($sizeValue: 16, $heightValue: 20) {
@include font-size($sizeValue);
@include line-height($heightValue);
}
// @mixin $bg-gradient(direct) {
//     @if
//     background: #e7e7e7; /* fallback for old browsers */
//     background: -webkit-linear-gradient(to bottom, #FFFFFF, #e7e7e7); /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to bottom, #FFFFFF, #e7e7e7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }
@mixin bg-gradient-reverse {
    background: #e7e7e7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #e7e7e7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #e7e7e7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}