// Variables

$type_color: #434040; // dark gray / font color
$first: #005EB8; // blue
$second: #009FE3; // light blue
$third: #253164; // dark blue
$fourth: #0254A3; // mid blue 
$fifth: #FDFDFD; // light grey
$sixth: #fff; //white
$seventh: #f3f3f3; //grey
$eighth: #B2B2B2; //grey 2
$eighth3: #DCDCDC; //grey 3
$ninth: #4F4C4C; // placeholder grey
$tenth: #F8F8F8; // placeholder grey
//global
$border-radius-default: 3.75rem;

//padding sections
$padding-default: 3rem 0;
//margin cols
$margin_default: 1.5rem;

//margin default
$margin__top: 2rem;