@using CSN.Blazor.Front.Recursos.Textos.Nossa_Empresa
<div class="section_flow">
    <div class="container">
        <h1>Missão, Visão, Valores</h1>
        <p>@((MarkupString)MVV.Fazer_bem_title)</p>
    </div>
</div>