﻿@using Microsoft.AspNetCore.Components.Web
@namespace CSN.Blazor.Front.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="dist/style.css" rel="stylesheet" />
    <link href="CSN.Blazor.Front.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/icons/favicon.png">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <!-- start scripts -->
    @* global js *@
    <script src="assets/js/global.js"></script>
    @* jquery *@
    <script src="assets/js/jquery/dist/jquery.min.js"></script>
    @* bootstrap *@
    <script src="assets/js/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/bootstrap/dist/js/bootstrap.min.js"></script>


    @* js scripts *@
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() < $("#green").height()) {
                $(".navbar").removeClass("bg-dark");
                } else {
                $(".navbar").addClass("bg-dark");
                }
            });
        });
    </script>



</body>
</html>
