﻿@page "/paraoutrlugar"

<PageTitle>Home - CSN</PageTitle>

<HomeHeroComponent />
<FeaturesCarouselComponent />
<CtaMetasHomeComponent />
<CtaSegmentsHomeComponent />
<MapComponent />
<ListNewsCarouselComponent />


