﻿.footer {
    background-color: #f3f3f3;
    width: 100%;
    height: 336px;
    background-image: url('assets/img/img_footer2.svg'), url('assets/img/img_footer1.svg');
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    padding-top: 75px;
    padding-left: 160px;
    padding-right: 70px;
}


a {
    color: #005295;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
}

a img{
    margin-right: 6px;
}