<div class="footer">
    <div class="container h-100">
        <div class="row h-100 ">
            <div class="row col-12 col-md-6 h-100 align-content-between">
                <div>
                    <img src="assets/img/logo_footer.svg"/>
                </div>
                <div class="row">
                    <a class="col-6">@CSN.Blazor.Front.Recursos.Textos.Footer.Termo_Priv</a>
                    <a class="col-6">@CSN.Blazor.Front.Recursos.Textos.Footer.Coockie</a>
                </div>
            </div>
            <div class="col-6 row">
            <div class="col-12 col-md-6">
                <p>
                    <a href="#" title="" target="">
                        <img src="assets/img/icons/icon_ouvir_csn.svg"/>
                        @CSN.Blazor.Front.Recursos.Textos.Footer.CSN_ouvir
                    </a>
                </p>
                <a href="#" title="" target="">
                    <img src="assets/img/icons/icon-shared-footer.svg"/>
                    @CSN.Blazor.Front.Recursos.Textos.Footer.Site_csn
                    </a>
            </div>
            <div class="col-12 col-md-6">
                <p><a href="#" title="" target="">@CSN.Blazor.Front.Recursos.Textos.Footer.Redes_sociais</a></p>
                <div class="row justify-content-center align-items-center">
                    <div class="col-2 col-md-2">
                        <a href="#" title="" target="_blank">
                            <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.9583 31.5H13.125V13.5H18.9583V16.5C20.2018 14.8729 22.0874 13.9029 24.099 13.8555C27.7165 13.8762 30.6355 16.9041 30.625 20.625V31.5H24.7917V21.375C24.5584 19.6989 23.1609 18.4554 21.5148 18.459C20.7948 18.4824 20.1151 18.8067 19.6327 19.3569C19.1503 19.9072 18.9068 20.6359 18.9583 21.375V31.5ZM10.2083 31.5H4.375V13.5H10.2083V31.5ZM7.29167 10.5C5.68084 10.5 4.375 9.15685 4.375 7.5C4.375 5.84315 5.68084 4.5 7.29167 4.5C8.9025 4.5 10.2083 5.84315 10.2083 7.5C10.2083 8.29565 9.90104 9.05871 9.35406 9.62132C8.80708 10.1839 8.06521 10.5 7.29167 10.5Z" fill="#005295"/></svg>
                        </a>
                    </div>
                    <div class="col-2 col-md-2">
                        <a href="#" title="" target="_blank">
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 0C8.05941 0 0 8.10806 0 18.1087C0 27.1458 6.58146 34.6363 15.1881 36V23.3444H10.6157V18.1087H15.1881V14.1189C15.1881 9.57682 17.8758 7.07214 21.9856 7.07214C23.955 7.07214 26.018 7.4253 26.018 7.4253V11.8787H23.7426C21.5104 11.8787 20.8119 13.2768 20.8119 14.7093V18.105H25.8002L25.0027 23.3408H20.8119V35.9964C29.4185 34.6399 36 27.1476 36 18.1087C36 8.10806 27.9406 0 18 0Z" fill="#005295"/></svg>
                        </a>
                    </div>
                    <div class="col-2 col-md-2">
                        <a href="#" title="" target="_blank">
                            <svg width="35" height="26" viewBox="0 0 35 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5217 25.2508H17.4867C17.3783 25.2508 6.532 25.2298 3.79551 24.4867C2.29074 24.0813 1.11558 22.9054 0.711055 21.4004C0.218973 18.6244 -0.0186505 15.8092 0.00114148 12.9899C-0.011572 10.166 0.232482 7.3468 0.730289 4.5671C1.14593 3.06074 2.31593 1.87948 3.81824 1.44942C6.47954 0.75 17.0268 0.75 17.4745 0.75H17.5112C17.6213 0.75 28.4956 0.770983 31.2041 1.51412C32.7057 1.92155 33.8785 3.09498 34.2851 4.59682C34.7928 7.38322 35.0311 10.212 34.9967 13.0441C35.009 15.8646 34.7644 18.6803 34.2659 21.4564C33.8561 22.9595 32.6802 24.1328 31.1762 24.5391C28.5183 25.2438 17.9693 25.2508 17.5217 25.2508ZM14.0246 7.75297L14.0158 18.2443L23.1293 12.9986L14.0246 7.75297Z" fill="#005295"/></svg>
                        </a>
                    </div>
                    <div class="col-2 col-md-2">
                        <a href="#" title="" target="_blank">
                            <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4903 35.5251C12.7096 35.5251 12.146 35.4999 10.2804 35.4183C8.82554 35.3704 7.38952 35.0747 6.03415 34.5437C3.68911 33.6311 1.83481 31.7761 0.923098 29.4307C0.412588 28.0705 0.137236 26.6332 0.108828 25.1806C0 23.3189 0 22.7086 0 17.9649C0 13.1706 0.0252637 12.6109 0.108828 10.755C0.137858 9.30433 0.4132 7.86913 0.923098 6.5107C1.83382 4.1622 3.69113 2.30559 6.03998 1.39576C7.3977 0.883109 8.83327 0.607039 10.2843 0.579551C12.1402 0.474609 12.7504 0.474609 17.4903 0.474609C22.3098 0.474609 22.8637 0.499873 24.7002 0.579551C26.155 0.607276 27.5943 0.883318 28.9561 1.39576C31.3043 2.30662 33.1613 4.16287 34.073 6.5107C34.5921 7.88892 34.8689 9.34656 34.8912 10.8191C35 12.6809 35 13.2892 35 18.031C35 22.7728 34.9728 23.3947 34.8912 25.235C34.8622 26.689 34.5862 28.1276 34.075 29.489C33.1609 31.8361 31.3038 33.6917 28.9561 34.604C27.5963 35.1135 26.1598 35.3888 24.7079 35.4183C22.852 35.5251 22.2438 35.5251 17.4903 35.5251ZM17.4242 3.55096C12.6707 3.55096 12.1771 3.57428 10.3212 3.65784C9.21346 3.67252 8.11642 3.87694 7.07773 4.26223C5.54394 4.84914 4.33026 6.05788 3.73709 7.58927C3.34883 8.63926 3.14438 9.7483 3.1327 10.8677C3.02971 12.7508 3.02971 13.2445 3.02971 17.9649C3.02971 22.629 3.0472 23.1945 3.1327 25.0659C3.1501 26.1741 3.35443 27.2713 3.73709 28.3114C4.33113 29.8417 5.5446 31.0496 7.07773 31.6365C8.11571 32.0243 9.2132 32.2288 10.3212 32.2409C12.2024 32.3497 12.6979 32.3497 17.4242 32.3497C22.1913 32.3497 22.6849 32.3264 24.5253 32.2409C25.6338 32.2274 26.7316 32.0229 27.7707 31.6365C29.2952 31.0445 30.501 29.8394 31.0938 28.3153C31.4813 27.2644 31.6858 26.1548 31.6982 25.0349H31.7196C31.8032 23.177 31.8032 22.6814 31.8032 17.9338C31.8032 13.1862 31.7818 12.6867 31.6982 10.8308C31.6808 9.72396 31.4765 8.62802 31.0938 7.58927C30.5023 6.0629 29.2964 4.85552 27.7707 4.26223C26.7319 3.87499 25.6338 3.67051 24.5253 3.65784C22.646 3.55096 22.1544 3.55096 17.4242 3.55096ZM17.4903 26.9413C13.8562 26.9437 10.5785 24.7564 9.18602 21.3997C7.79349 18.043 8.56034 14.1779 11.1289 11.6071C13.6975 9.03628 17.5619 8.26608 20.9199 9.65571C24.2778 11.0453 26.4678 14.3211 26.4686 17.9552C26.4633 22.9128 22.4479 26.9317 17.4903 26.9413ZM17.4903 12.1212C14.2704 12.1212 11.6602 14.7314 11.6602 17.9513C11.6602 21.1712 14.2704 23.7814 17.4903 23.7814C20.7102 23.7814 23.3204 21.1712 23.3204 17.9513C23.3129 14.7345 20.7071 12.1287 17.4903 12.1212ZM26.8184 10.7356C25.663 10.7313 24.7291 9.79224 24.7313 8.63676C24.7334 7.48127 25.6707 6.54569 26.8262 6.54569C27.9817 6.54569 28.919 7.48126 28.9212 8.63674C28.9217 9.19422 28.7002 9.72896 28.3056 10.1228C27.9111 10.5166 27.3759 10.7371 26.8184 10.7356Z" fill="#005295"/></svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 row">
                <img src="assets/img/cod-conduta.svg" class="col-4"/>
                <img src="assets/img/verde-csn.svg" class="col-4"/>
                <img src="assets/img/canal-denuncia.svg" class="col-4"/>
            </div>
</div>
        </div>
    </div>

</div>
<!-- bottom bar -->
<div class="container-fluid bottom_bar_footer">
    <div class="d-flex justify-content-center">
        <p>@CSN.Blazor.Front.Recursos.Textos.Footer.Direitos</p>
    </div>
</div>