﻿@using System.Globalization
@inherits LayoutComponentBase

<PageTitle>CSN.Blazor.Front</PageTitle>



<NavMenu />

<main>
    @* <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div> *@

    <article class="content">
        @Body
    </article>
</main>

<Footer />