article {
    background-image: url('assets/img/img_footer2.svg'), url('assets/img/img_footer1.svg');
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    padding-top: 70px;
}
