﻿@using System.Globalization
@inject NavigationManager Nav

<nav>
    <div class="container justify-content-between d-flex">
        <div class="d-flex align-content-start" style="height:100%">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/icons/logo.svg" width="160" height="46.92" class="d-inline-block align-top" alt="">
            </a>
        </div>
        <div class="row justify-content-end">
            <div class="row row justify-content-end">
                <input class="col-6"/>
                <div class="radio col-4 justify-content-center">
	                <input label="PT-BR" type="radio" id="male" name="gender" value="PT-BR" checked="@(!CurrentCutultureIsEn)" @onchange="ChangeResource">
	                <input label="EN" type="radio" id="female" name="gender" value="en" checked="@(CurrentCutultureIsEn)" @onchange="ChangeResource">
                </div>
            </div>
            <hr>
            <ul>
                <li>
                    <NavLink class="csn-link" ActiveClass="csn-active" href="/" Match="NavLinkMatch.All">@Nav_Menu.Nossa_empresa</NavLink>
                </li>
                <li>
                    <NavLink href="#" class="csn-link" ActiveClass="csn-active">@Nav_Menu.Meio_ambiente</NavLink>
                </li>
                <li>
                    <NavLink href="#" class="csn-link" ActiveClass="csn-active">@Nav_Menu.Barragens</NavLink>
                </li>
                <li>
                    <NavLink href="#" class="csn-link" ActiveClass="csn-active">@Nav_Menu.Social</NavLink>
                </li>
                <li>
                    <NavLink href="#" class="csn-link" ActiveClass="csn-active">@Nav_Menu.Governacao</NavLink>
                </li>
                <li>
                    <NavLink href="#" class="csn-link" ActiveClass="csn-active">@Nav_Menu.Inovacao</NavLink>
                </li>
                <li>
                    <NavLink href="#" class="csn-link" ActiveClass="csn-active">@Nav_Menu.Noticias</NavLink>
                </li>
                <li>
                    <NavLink href="#" class="csn-link" ActiveClass="csn-active">@Nav_Menu.CSN_responde</NavLink>
                </li>
            </ul>
            <hr />
        </div>
    
    </div>
</nav>

@code {
    private bool CurrentCutultureIsEn = true;
    protected override void OnInitialized()
    {
        var cult = Thread.CurrentThread.CurrentCulture;
        CurrentCutultureIsEn = cult.Name == "en" ? true : false;

        base.OnInitialized();
    }

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var uri = new Uri(Nav.Uri)
                    .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                Nav.NavigateTo(
                    $"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}",
                    forceLoad: true);
            }
        }
    }

    private void ChangeResource(ChangeEventArgs args)
    {
        var idioma = (string)args.Value;
        var culture = new CultureInfo(idioma);
        Culture = culture;
    }
}
