ul {
    list-style: none;
    line-height: 40px;
    justify-items: end;
    display: inline-grid;
    padding-right:0px;
}

li {
    
}

.csn-link {
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.5px;
}

.csn-active {
    color: #7FE35C;
    padding-bottom: 3px;
    border-bottom: 1px solid #7FE35C;
}

nav{
    background-image: url('/assets/img/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 70px 65px 5px 65px;
}

hr {
    height: 2px;
    width: 5%;
    color: white;
    background-color: white;
    border: 2px solid white;
    opacity: 1;
    margin: 15px 0;
}



.radio {
    background-color: transparent;
    padding: 4px;
    border-radius: 6px;
    box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3), 0 0 0 3px rgba(185, 185, 185, 0.3);
    margin-left: 15px;
}

    .radio input {
        width: 45%;
        height: 100%;
        appearance: none;
        outline: none;
        cursor: pointer;
        border-radius: 4px;
        padding: 4px 8px;
        color: #8DC63F;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        transition: all 100ms linear;
    }

        .radio input:checked {
            background-color: #8DC63F;
            color: #fff;
            box-shadow: 0 1px 1px #0000002e;
        }

        .radio input:before {
            content: attr(label);
            display: inline-block;
            text-align: center;
            width: 100%;
        }
