﻿h3 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 56px;
}

.text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    /* or 126% */

    text-align: center;
    letter-spacing: 0.15px;
}
