﻿<div class="@CssClass">
    <h3 class="text-center">
        @((MarkupString)Title)
    </h3>
    <hr />
    <div class="text-center text">@Text</div>
</div>

@code {
    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }
}
