﻿<div class="d-flex">
    @if (LadoImagem == LadoImagem.Direita)
    {
        <div class="box-left">
        @if(!string.IsNullOrEmpty(TitleBox))
        {
            <p class="title">@TitleBox</p>
        }
        <span class="text">@TextBox</span>
    </div>
        <img src="@IgmSRC"/>
    }
    else
    {
        <img src="@IgmSRC"/>
        <div class="box-right">
            @if(!string.IsNullOrEmpty(TitleBox))
            {
                <p class="title">@TitleBox</p>
            }
            <span class="text">@TextBox</span>
        </div>
    }
</div>

@code {
    [Parameter]
    public string IgmSRC { get; set; }

    [Parameter]
    public LadoImagem LadoImagem { get; set; }

    [Parameter]
    public string TitleBox { get; set; }

    [Parameter]
    public string TextBox { get; set; }
}
