﻿p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 36px;
    /* or 109% */

    letter-spacing: 0.25px;
}

img{
    width:75%;
    height: auto;
    max-height:25%;
}

.box-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    position: relative;
    width: 440px;
    height: 319px;
    left: 16%;
    margin: auto;
    background-color: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.box-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    position: relative;
    width: 440px;
    height: 319px;
    right: 16%;
    margin: auto;
    background-color: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}