﻿h4 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 36px;
}

span {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
}

hr {
    border: 2px solid black;
    width: 50%;
    opacity: 1;
}

div{
    padding-left: 15%;
    margin-bottom: 45px;
}