﻿<div>
    <h4>@Title</h4>
    <hr />
    <span>@((MarkupString)Text)</span>
</div>
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }
}
