﻿@using System.Text
<h3>@titleEncoding</h3>
<hr />
@code {
    protected override void OnInitialized()
    {
        byte[] bytes = Encoding.Default.GetBytes(Title);
        titleEncoding = Encoding.UTF8.GetString(bytes);
        base.OnInitialized();
    }

    private string titleEncoding;

    [Parameter]
    public string Title { get; set; }
}
