﻿h3 {
    width: 201px;
    height: 72px;
    left: 165px;
    top: 669px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 72px;
    /* identical to box height, or 124% */

    letter-spacing: -0.5px;
    color: #000000;
    margin-left: 12%;
}

hr 
{
    width: 161px;
    height: 0px;
    left: 164px;
    top: 749px;
    border: 2px solid black;
    margin-left: 12%;
    opacity: 1;
}