@page "/meio-ambiente/gestao-de-residuos"

<HeroAmbienteComponent />
<InfoResiduosComponent />
<InfoCardsResiduosComponent />
<Cards123Component />
<ChartsResiduosComponent />
<InfoBoxRedisuosComponent />
<HeroCardsResiduosComponent />
<InfoBoxResiduos2Component />